* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #a496f8, #dcece1);
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
    background: #5b738f;
    border-radius: 20px;
    header {
      color: #dcece1;
      padding-top: 20px;
      font-size: 30px;
    }
  }
}
